body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}
header {
    background-color: #222;
    color: white;
    padding: 20px;
}
section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}